:root {
  --astrolabs-blue: #0052a2;
  --icon-orange: #f18e71;
}
p,
h2,
h3,
h5 {
  margin: 0;
}
body {
  font-family: "Brown";
}
p {
  font-family: "Brown";
}
.bg-darker {
  background-color: #f6f9f8;
}
.bg-bright {
  background-color: #fff;
}
.blue-text {
  color: #0052a2;
}
.placeholder-box {
  background-color: #0052a2;
  height: 200px;
  width: 100%;
}

.box-shadow {
  box-shadow: -1px 50px 78px -31px rgba(0, 0, 0, 0.64);
}
